/CurrentSource.class
/RotaryEncoderCountSource.class
/RotaryEncoderOldCountSource.class
/RotaryEncoderPressedDurationSource.class
/RotaryEncoderPressedSource.class
/RotaryEncoderPressedTimerReachedSource.class
/VoltageSource.class
