/RotaryEncoderConsumer.class
/VoltageConsumer.class
/RotaryEncoderListenerImpl.class
/VoltageListenerImpl.class
/RotaryEncoderSupplierImpl.class
/VoltageSupplierImpl.class
/CurrentListenerImpl.class
/VoltageCurrentSupplierImpl.class
